@charset "UTF-8";

/**
 * 
 * @authors Wang Yinkai (15057638632@163.com)
 * @date    2018-12-02 21:15:47
 * @version $Id$
 */
.main {
    position: absolute;
    display: inline-block;
    width: 300px;
    height: 100px;
    left: 50%;
    top: 93%;
    margin-left: -150px;
    margin-top: -150px;
    text-align: center;
    line-height: 2;
}

.main .preview {
    text-align: left;
}

.main .preview .label {
    display: inline-block;
    font-weight: bold;
    width: 100px;
    height: 20px;
}

.hidden-space {
    height: 50px;
    visibility: hidden;
}
